html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


body {
    font-family: "Open Sans", sans-serif;
    color: #626262;
    font-size: 14px;

}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: " ";
    clear: both;
}



.container {
    width: 1112px;
    margin: 0 auto;
}

.page-nav {
    padding: 28px 0;
}

.site-logo {
    display: inline-block;
}


.main-menu {
    font-size: 14px;
    line-height: 13px;
    font-family: "Open Sans", sans-serif ;
    font-weight: 700px;
    list-style: none;
    width: 467px;
    margin: 0;
    padding: 0;
    float: right;

}

.main-menu li {
    float: left;
}

.main-menu li:not(:last-child) {
    margin-right: 27px;
}

.main-menu a {
    font-size: 14px;
    color: #515151;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    margin: 0;
}

.main-menu a:hover {
    color: #03a9f4;
}

h2 {
    text-align: center;
    font-size: 48px;
    letter-spacing: -1px;
    line-height: 67px;
    font-weight: 900;
    color: #515151;
    font-family:'Playfair Display', serif;
}

h2::after {
    display: block;
    width: 164px;
    height: 7px;
    line-height: 67px;
    background-color: #1abc9c;
    content: '';
    margin: 0 auto;
}

.products-list {
    list-style: none;
    margin: 0;
    padding: 0; 
}

.products-list-item {
    float: left;
    width: 250px;
    margin-right: 30px;
    margin-bottom: 22px;
    background-color: #1abc9c;
    
}


.products-list-item:nth-child(4n) {
    margin-right: 0px;
}

.products-list-item:hover .img {
    filter: grayscale(1);
}


.news-list {
    list-style: none;
    width: 1112px;
    margin: 0px;
    padding: 0px;

}
.news-list-item {
    width: 350px;
    float: left;
}

.news-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}


h3 {
    font-size: 18px;
    width: 350px;
    line-height: 31px;
    font-weight: 600;
    color: #515151;
    font-family:'Open Sans', sans-serif;
    margin: 0px;
}

h3::after {
    display: block;
    width: 137px;
    height: 4px;
    line-height: 67px;
    background-color: #1abc9c;
    content: '';
    margin: 0px;
}

p {
    font-size: 14px;
    display: inline-block;
    width: 350px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 400;
    color: #555252;
    font-family:'Open Sans', sans-serif;
    margin-right: 0px;
}

button {
    color: #ffffff;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    text-decoration: none;
    background-color: #4ec6ab;
    width: 157px;
    height: 45px;
    display: block;
    cursor: pointer;
    margin: 0px;
    margin-bottom: 81px;
}

button:hover {
    color: #ffffff;
    background: rgba (0,0,0,0);
}
